/* App.css */

.site-content {
  margin: 24px 16px;
  padding: 24px;
  background: #f0f2f5;
  transition: all 0.3s;
}

.site-layout .site-layout {
  margin-left: 200px;
}

.site-content > * {
  margin-bottom: 16px;
}
